$background: #E5E5E5;
$white: #fff;
$white-light: #F4F7FE;
$black: #222738;
$gray: #717171;
$gray-light: #7e707024;
$blue: #3A57E8;
$green: #096f12;
$red: #bd060c;

// media
$large-desktop: 1600px;
$small-desktop: 1440px;

$large-tablet: 1024px;
$medium-tablet: 998px;
$small-tablet: 778px;

$large-mobile: 580px;
$medium-mobile: 428px;
$small-mobile: 360px;
